@model IEnumerable<BW2_Team6.Models.Drawer>

@{
    ViewData["Title"] = "AllDrawers";
}

<h1>AllDrawers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locker.NumberLocker)
            </th>
            <th>@Html.DisplayNameFor(model => model.Product)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                    Armadietto n°: @Html.DisplayFor(modelItem => item.Locker.NumberLocker)
            </td>
            <td>
               <ul class="list-unstyled">
                @foreach(var product in item.Product)
                {
                            <li>@product.Product.Name</li>
                }
                    </ul> 
            </td>
            <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
