@model IEnumerable<BW2_Team6.Models.Visit>

@{
    ViewData["Title"] = "AllVisits";
}

<h1>AllVisits</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfExam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfCure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfExam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCure)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
