@model IEnumerable<BW2_Team6.Models.Animal>

@{
    ViewData["Title"] = "Lista degli animali";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center">Lista degli animali</h1>

    <div class="d-flex justify-content-between mb-3">
        <p class="lead">Qui puoi visualizzare tutti gli animali registrati nel sistema.</p>
        <a asp-action="Create" class="btn btn-success">Aggiungi un nuovo animale</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(model => model.Fur)</th>
                <th>@Html.DisplayNameFor(model => model.DateBirth)</th>
                <th>@Html.DisplayNameFor(model => model.Microchip)</th>
                <th>@Html.DisplayNameFor(model => model.Owner)</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fur)</td>
                    <td>@item.DateBirth.ToShortDateString()</td>
                    <td>@Html.DisplayFor(modelItem => item.Microchip)</td>
                    <td>
                        @if (item.Owner != null)
                        {
                            @Html.DisplayFor(modelItem => item.Owner.FirstName)
                        }
                        else
                        {
                            <span class="text-danger">Nessun propietario</span>
                        }
                    </td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Modifica</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Elimina</a>
                            <button type="button" class="btn btn-primary btn-sm" data-animal-id="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Visite di @item.Name
                            </button>
                            @if (item.Owner == null)
                            {
                                <a asp-action="Create" asp-controller="Recover" asp-route-id="@item.Id" class="btn btn-info btn-sm">Registra ricovero</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Visite dell'Animale</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Data Visita</th>
                            <th>Esame Obiettivo</th>
                            <th>Cura Prescritta</th>
                        </tr>
                    </thead>
                    <tbody id="visitsTableBody">
                        <!-- I dati delle visite verranno inseriti qui -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>


