@model IEnumerable<BW2_Team6.Models.Animal>

@{
    ViewData["Title"] = "Lista degli animali";
}

<h1>Lista degli animali</h1>

<p>
    <a asp-action="Create">Aggiungi un nuovo animale</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Microchip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Microchip)
                </td>
                @if (item.Owner != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.FirstName)
                    </td>
                }
                else
                {
                    <td>Nessun propietario</td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a> |
                    <a asp-action="ViewDetailAnimal" asp-controller="Visit"></a>
                    <button type="button" class="btn btn-primary" data-animal-id="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Vedi tutte le visite di @item.Name
                    </button>
                    <a data-toggle="modal" data-target="#exampleModal"></a>
                @if(item.Owner == null)
                {
                    <a asp-action="Create" asp-controller="Recover" asp-route-id="@item.Id">Registra ricovero animale smarrito</a>
                }
                </td>
                
            </tr>
        }
    </tbody>
</table>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Visite dell'Animale</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Data Visita</th>
                            <th>Esame Obiettivo</th>
                            <th>Cura Prescritta</th>
                        </tr>
                    </thead>
                    <tbody id="visitsTableBody">
                        <!-- I dati delle visite verranno inseriti qui -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <div id="buttonVisit">
               
                </div>
            </div>
        </div>
    </div>
</div>

