@model IEnumerable<BW2_Team6.Models.Product>

@{
    ViewData["Title"] = "AllProducts";

    string GenerateOption(string value, string currentFilter, string text)
    {
        return $"<option value=\"{value}\" {(currentFilter == value ? "selected" : "")}>{text}</option>";
    }
}

<h1>AllProducts</h1>

<p>
    <a asp-action="CreateProduct">Create New</a>
</p>

<form method="get" asp-action="AllProducts">
    <div class="form-group">
        <label for="filter">Filtra per tipo di prodotto:</label>
        <select id="filter" name="filter" class="form-control" onchange="this.form.submit()">
            @Html.Raw(GenerateOption("all", ViewBag.Filter, "Tutti"))
            @Html.Raw(GenerateOption("alimentari", ViewBag.Filter, "Prodotti Alimentari"))
            @Html.Raw(GenerateOption("prodotti farmaceutici", ViewBag.Filter, "Prodotti Farmaceutici"))
        </select>
    </div>
</form>

<form asp-action="SellProducts" asp-controller="Sell">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfUse)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedProducts" value="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfProduct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfUse)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) |
                        @Html.ActionLink("Details", "DetailProduct", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <label for="OwnerId">Seleziona cliente</label>
        <select id="OwnerId" name="OwnerId" class="form-control" asp-items="ViewBag.Owners">
            <option value="0">-- Seleziona Cliente --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="NumberOfRecipe">Numero di ricetta</label>
        <input type="text" id="NumberOfRecipe" name="numberOfRecipe" class="form-control" />
    </div>
    <button type="submit">Procedi con la vendita</button>
</form>
